# Dependencies
node_modules/
**/node_modules/

# Expo
.expo/
**/.expo/
web-build/
expo-env.d.ts
ios/
android/

# Build output
dist/
lambda.zip
*.tsbuildinfo

# Env and logs
.env
.env.*
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.*

# System files
.DS_Store
